.header {
    background-color: var(--corPrincipal);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 180px 0 40px;
    color: var(--corSecundaria);
    margin-bottom: 80px;
    border-bottom-left-radius: 350px;
    border-bottom-right-radius: 350px;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid var(--corSecundaria);
}

.name {
    margin-top: 15px;
    font-size: 18px;
}